body.theme-light {
  --blue-0: #9999FF;
  --blue-1: #6699FF;
  --blue-2: #5588EE;
  --blue-3: #336699;

  --yellow-0: #FFFF33;
  --yellow-1: #FFFF99;

  --red-0: #FF0033;
  --red-1: #CC0033;

  --purple-0: #9900CC;
  --purple-1: #7700BB;

  --bg-color-0: var(--blue-0);
  --bg-color-1: var(--blue-1);
  --bg-color-2: var(--blue-2);
  --bg-color-3: var(--blue-3);

  --text-color-0: #000000;
  --text-color-1: #777777;

  --separator-color-0: var(--text-color-0);
  --separator-color-1: var(--text-color-1);

  --error-color: var(--red-0);
}

body.theme-dark {
  --blue-0: #000033;
  --blue-1: #000066;
  --blue-2: #000077;
  --blue-3: #000099;

  --yellow-0: #FF6600;
  --yellow-1: #CC6600;

  --red-0: #FF0033;
  --red-1: #660033;

  --purple-0: #660099;
  --purple-1: #440044;

  --bg-color-0: var(--blue-0);
  --bg-color-1: var(--blue-1);
  --bg-color-2: var(--blue-2);
  --bg-color-3: var(--blue-3);

  --text-color-0: #FFFFFF;
  --text-color-0-1: #EEEEEE;
  --text-color-1: #444444;

  --separator-color-0: var(--text-color-0);
  --separator-color-0-1: var(--text-color-0-1);
  --separator-color-1: var(--text-color-1);

  --error-color: var(--red-0);
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  background-color: var(--bg-color-0);
  color: var(--text-color-0);
}

a { color: var(--text-color-0); }
a:visited { color: var(--text-color-1); }

button {
  cursor: pointer;
  background-color: var(--bg-color-1);
  color: var(--text-color-0);
  border: 1px solid var(--separator-color-0);
  border-radius: 5px;
  padding: 3px;
}
button * { pointer-events: none; }
button:hover {
  background-color: var(--bg-color-2);
  color: var(--text-color-0);
  border-color: var(--separator-color-0-1);
}
button:active:not(:disabled) {
  background-color: var(--bg-color-0);
  border-color: var(--separator-color-1);
}
button:disabled {
  cursor: not-allowed;
  background-color: var(--bg-color-0);
  color: var(--text-color-1);
}

input {
  background-color: var(--bg-color-1);
  color: var(--text-color-0);
  border: 1px solid var(--separator-color-0);
  border-radius: 5px;
  padding: 3px;
  outline: none;
}

select {
  background-color: var(--bg-color-1);
  color: var(--text-color-0);
  border: 1px solid var(--separator-color-0);
  border-radius: 5px;
  padding: 3px;
}

.sticky {
  position: sticky;
  top: 0;
}

details {
  text-align: left;
  margin: 5px 0;
}
details > summary {
  user-select: none;
  padding: 15px;
  border-radius: 5px;
  list-style: none;
  cursor: pointer;
}
details[open] > summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
details > *:not(summary) {
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

details.blue > summary { background-color: var(--blue-1); }
details.blue > *:not(summary) { background-color: var(--blue-3); }
details.yellow > summary { background-color: var(--yellow-0); }
details.yellow > *:not(summary) { background-color: var(--yellow-1); }
details.red > summary { background-color: var(--red-0); }
details.red > *:not(summary) { background-color: var(--red-1); }
details.purple > summary { background-color: var(--purple-0); }
details.purple > *:not(summary) { background-color: var(--purple-1); }

.hidden { display: none !important; }
.invisible { visibility: hidden !important; }
.w40 { width: 40%; }
.w50 { width: 50%; }
.w60 { width: 60%; }
.w80 { width: 80%; }
.w95 { width: 95%; }
.w100 { width: 100%; }
.center { margin: 0 auto; }
.center-text { text-align: center; }
.flex { display: flex; }
.flex.space-around { justify-content: space-around; }
.flex.space-between { justify-content: space-between; }
.flex.align-center { align-items: center; }
.whitespace-pre { white-space: pre; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.inline-block { display: inline-block; }
.italic { font-style: italic; }
.bg-0 { background-color: var(--bg-color-0); }