body.theme-light {
  --bg-color-0: #9999FF;
  --bg-color-1: #6699FF;
  --bg-color-1-1: #5588EE;
  --bg-color-2: #336699;

  --text-color-0: #000000;
  --text-color-0-1: #111111;
  --text-color-1: #777777;

  --separator-color-0: var(--text-color-0);
  --separator-color-0-1: var(--text-color-0-1);
  --separator-color-1: var(--text-color-1);

  --error-color: #FF0033;

  --button-green: #33CC33;
  --button-green-hover: #22BB22;
  --button-green-disabled: #33CC99;
  --button-green-active: #33CC99;
}

body.theme-dark {
  --bg-color-0: #000033;
  --bg-color-1: #000066;
  --bg-color-1-1: #000077;
  --bg-color-2: #000099;

  --text-color-0: #FFFFFF;
  --text-color-0-1: #EEEEEE;
  --text-color-1: #444444;

  --separator-color-0: var(--text-color-0);
  --separator-color-0-1: var(--text-color-0-1);
  --separator-color-1: var(--text-color-1);

  --error-color: #FF0033;

  --button-green: #006600;
  --button-green-hover: #007700;
  --button-green-disabled: #003300;
  --button-green-active: #003300;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  background-color: var(--bg-color-0);
  color: var(--text-color-0);
}

a { color: var(--text-color-0); }
a:visited { color: var(--text-color-1); }

button {
  cursor: pointer;
  background-color: var(--bg-color-1);
  color: var(--text-color-0);
  border: 1px solid var(--separator-color-0);
  border-radius: 5px;
  padding: 3px;
}
button * { pointer-events: none; }
button:hover {
  background-color: var(--bg-color-1-1);
  color: var(--text-color-0);
  border-color: var(--separator-color-0-1);
}
button:active:not(:disabled) {
  background-color: var(--bg-color-0);
  border-color: var(--separator-color-1);
}
button:disabled {
  cursor: not-allowed;
  background-color: var(--bg-color-0);
  color: var(--text-color-1);
}
button.green { background-color: var(--button-green); }
button.green:hover { background-color: var(--button-green-hover); }
button.green:disabled { background-color: var(--button-green-disabled); }
button.green:active:not(:disabled) { background-color: var(--button-green-active); }

input {
  background-color: var(--bg-color-1);
  color: var(--text-color-0);
  border: 1px solid var(--separator-color-0);
  border-radius: 5px;
  padding: 3px;
  outline: none;
}

select {
  background-color: var(--bg-color-1);
  color: var(--text-color-0);
  border: 1px solid var(--separator-color-0);
  border-radius: 5px;
  padding: 3px;
}

.hidden { display: none !important; }
.invisible { visibility: hidden !important; }
.w40 { width: 40%; }
.w50 { width: 50%; }
.w60 { width: 60%; }
.w80 { width: 80%; }
.w95 { width: 95%; }
.w100 { width: 100%; }
.w-fit-content { width: fit-content; }
.mt5p { margin-top: 5px; }
.mb5p { margin-bottom: 5px; }
.mt15p { margin-top: 15px; }
.mb15p { margin-bottom: 15px; }
.center { margin-left: auto; margin-right: auto; }
.center-text { text-align: center; }
.flex { display: flex; }
.flex.space-around { justify-content: space-around; }
.flex.space-between { justify-content: space-between; }
.flex.align-center { align-items: center; }
.whitespace-pre { white-space: pre; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.inline-block { display: inline-block; }
.italic { font-style: italic; }
.bold { font-weight: bold; }
.underlined { text-decoration: none; border-bottom-style: solid; border-bottom-width: 1px; }
.font-big { font-size: 30px; }
.font-small { font-size: 12px; }
.no-linebreak { white-space: nowrap; }
.no-text-decor { text-decoration: none; }
.overflow-ellipsis { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }