body {
  background-color: #000;
  color: #FFF;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px 0;
}
.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #FFF;
}
.separator:not(:empty)::before {
  margin-right: 10px;
}
.separator:not(:empty)::after {
  margin-left: 10px;
}

.separator-faded::before,
.separator-faded::after {
  border-color: #444;
}

.content {
  width: 60%;
}

.link-container {
  padding: 5px 0;
  width: 50%;
  margin: auto;
}

.link-container .link-title {
  font-size: 150%;
  margin-bottom: 15px;
}

.link-container .link-description {
  font-style: italic;
}
.link-container .link-description br {
  margin-bottom: 5px;
}