body {
  background-color: #000;
}

a {
  color: black;
}

ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

.centered {
  margin: auto;
  width: 95%;
  text-align: center;
}

.uncenter {
  text-align: left;
}

.main-area {
  margin-top: 5vh;
  min-height: 90vh;
  background-color: #060;
  border: 5px solid #003;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text-area {
  background-color: #0A0;
  height: 93%;
  width: 96%;
  box-shadow: 0 0 10px 10px #0A0;
}

.header {
  font-size: 250%;
  font-weight: bold;
}

.subheader {
  font-style: italic;
}

.text {
  margin-top: 2%;
  height: 82%;
  font-size: 140%;
}

.footer {
  border-top: 1px solid black;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  align-self: flex-end;
  width: 98.5%;
  height: auto;
  display: flex;
  justify-content: space-between;
}