body {
  background-color: #000;
  color: #FFF;
}

a {
  text-decoration: none;
}

#container-wrapper {
  margin: auto;
  max-width: 60vw;
  display: flex;
  justify-content: center;
}

h1.anchored > a,
h2.anchored > a,
h3.anchored > a {
  color: white !important;
}

.toc-container {
  display: flex;
}

.toc {
  border: 2px solid #FFF;
  border-radius: 5px;
  padding: 5px;
}

.toc > div > .toc-entry {
  margin-left: 10px;
}

.toc-entry > .toc-entry {
  margin-left: 10px;
}

.code {
  font-family: monospace;
  background-color: #444;
  color: #AAA;
  border-radius: 3px;
  white-space: pre;
}
div.code {
  padding: 5px 10px;
  margin: 10px 0;
}
span.code {
  padding: 1px 2px;
  margin: 2px 0;
}
.code-keyword { color: #B949B9; }
.code-name { color: #89CFF0; }
.code-symbol { color: #FFF; }
.code-constant { color: #FF7F00; }
.code-comment { color: #777; }
.code-string { color: #070; }

/* Helper classes below */
.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.underlined {
  text-decoration: underline;
}

.keep-whitespace {
  white-space: pre;
}

.font-150p {
  font-size: 150%;
}

img.medium {
  max-width: 300px;
  max-height: 300px;
}