<!DOCTYPE html>
<html>
  <head>
    <title>i - Template example</title>
    <script src="./index.js"></script>
    <script src="../../html-templating/templates/core.js"></script>
    <script src="../../html-templating/templates/examples/i/class.js"></script>
  </head>
  <body>
    <input id="value-in-template" type="text" placeholder="The value to display" /><br>
    Template: '<i-template></i-template>'<br>
    <br>
    <a href="https://github.com/TheNamlessGuy/html-templating">What is this?</a>
  </body>
</html>