#search-container {
  display: flex;
  margin-bottom: 15px;
}
#search {
  flex-grow: 1;
  height: 40px;
  font-size: 200%;
  padding: 2px 5px;
}
#search-help {
  margin-left: 5px;
  width: 40px;
  font-size: 200%;
  font-weight: bold;
}

#table {
  border-spacing: 0;
  user-select: none;
  width: 100%;
  margin-bottom: 5px;
}

#table th c-icon { cursor: pointer; }
#table tbody tr { cursor: pointer; }

#table th,
#table td {
  padding: 5px;
  border-top: 1px solid var(--separator-color-0);
  border-left: 1px solid var(--separator-color-0);
  text-align: left;
}

#table th:not(:last-child),
#table td:not(:last-child) {
  white-space: nowrap;
}

#table th:last-child,
#table td:last-child {
  border-right: 1px solid var(--separator-color-0);
}
#table tbody tr:last-child td,
#table tbody tr.last td {
  border-bottom: 1px solid var(--separator-color-0);
}

/* https://stackoverflow.com/a/44452722 */
#table td:last-child > div {
  max-height: 1.1em;
  overflow: hidden;
  position: relative;
  color: transparent;
}
#table td:last-child > div::after {
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: var(--text-color-0);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#table th {
  background-color: var(--bg-color-1);
}