#player {
  min-height: 420px;
  min-width: 640px;
}

/* https://stackoverflow.com/a/37074484 */
html, body, #content { height: 100%; }
#content { height: 80%; }
body { overflow-y: hidden; }

#playlist { height: fit-content; }
#playlist span.index { color: var(--text-color-1); }

#playlist tr.current input.title {
  /* https://freefrontend.com/css-glow-text-effects/ */
  text-shadow:
    0 0 5px #FFF,
    0 0 10px #FFF,
    0 0 20px #FFF,
    0 0 40px #0FF,
    0 0 80px #0FF,
    0 0 90px #0FF,
    0 0 100px #0FF,
    0 0 150px #0FF;
}

#playlist tr.unavailable input.title { color: var(--error-color); }
#playlist tr.current.unavailable input.title {
  /* https://freefrontend.com/css-glow-text-effects/ */
  text-shadow:
    0 0 5px var(--error-color),
    0 0 10px var(--error-color),
    0 0 20px var(--error-color),
    0 0 40px #FFFF33,
    0 0 80px #FFFF33,
    0 0 90px #FFFF33,
    0 0 100px #FFFF33,
    0 0 150px #FFFF33;
}

#info-tags > span {
  font-size: 12px;
  color: #555;
  text-decoration: underline;
  font-style: italic;
}

.w640p { width: 640px; }
.mw640p { max-width: 640px; }