html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  --img-max-size: 85vh;
}

a:visited { color: inherit; }

#solve-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#solve-img {
  max-width: var(--img-max-size);
  max-height: var(--img-max-size);
}
#solve-box-container.active #solve-img { visibility: hidden; }

#solve-box {
  position: relative;
  max-width: var(--img-max-size);
  max-height: var(--img-max-size);
  border: 1px solid #FFF;
}

#pieces, #piece-location-container { user-select: none; }

puzzle-piece {
  display: inline-block;
  position: absolute;
}

puzzle-piece-container {
  display: inline-block;
  position: absolute;
}
puzzle-piece-container.moveable puzzle-piece { cursor: grab; }
puzzle-piece-container.moveable.held {
  cursor: move;
  z-index: 100000000 !important;
}

puzzle-piece-slot {
  pointer-events: none;
  position: absolute;
}

#options {
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px;

  display: flex;
  align-items: center;
  flex-direction: column;
}
#solve-box-container.active #options { display: none; }

#options hr { width: 98%; }
#options button { width: fit-content; }
#options #select-image { margin-bottom: 5px; }
#options #pieces-amount {
  color: inherit;
}
#options #pieces-amount,
#options #pieces-amount-x,
#options #pieces-amount-y {
  width: 8ch;
}

#piece-location-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
}
#solve-box-container.active #piece-location-container { display: inherit; }

#errors {
  width: 100%;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}
#errors > .error {
  background-color: #F00;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
#errors > .error > button {
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
}