body {
  background-color: #000;
  color: #FFF;
}
h1 { text-align: center; }
p { text-align: center; }

.hidden { display: none !important; }
.flex { display: flex; }
.flex.space-around { justify-content: space-around; }
.flex.align-center { align-items: center; }

#character-container {
  font-size: 100px;
  background-color: #333;
  border: 1px solid #FFF;
  border-radius: 5px;
  height: 150px;
  width: 150px;
}

.diacritic-container,
#modal-diacritic-container {
  width: 48px;
  height: 48px;
  font-size: 40px;
  cursor: pointer;
  background-color: #333;
  border: 1px solid #FFF;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  user-select: none;
}
.diacritic-container.active { background-color: #777; }

#modal-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal {
  min-width: 150px;
  max-width: 60vw;
  background-color: #000;
  border: 1px solid #FFF;
  border-radius: 5px;
  padding: 5px;
}