/* Variables */
body {
  --box-border-size: 1px;

  --input-size: calc(var(--box-size) / 2);
  --input-border-size: 1px;
  --input-divider-size: 1px;
  --input-padding-size: 2px;
  --input-offset: calc((var(--input-size) / 2) - var(--input-padding-size) - var(--input-divider-size));
  --input-btn-offset: calc(var(--input-border-size) + var(--input-padding-size));

  user-select: none;
}
body.wide {
  --box-size: 4vh;
}
body.high {
  --box-size: 4vw;
}

body.theme-dark {
  --page-bg: #000;
  --page-text: #FFF;
  --winner-text: #00B300;

  --input-bg: #FFF;
  --input-bg--finished: #BBB;
  --input-bg--finished--truly: #0B0;
  --input-bg--hovered: #999;
  --input-text: #000;
  --input-text--finished: #555;
  --input-divider: #FFF;

  --box-border: #AAA;
  --box-border-line: #000;

  --box-bg--default: #FFF;
  --box-bg--selected: #C00;
  --box-bg--deselected: #999;

  --box-selected-select: rgba(204, 0, 0, 0.5); /* --box-bg--selected at half opacity */
  --box-selected-deselect: rgba(153, 153, 153, 0.5); /* --box-bg--deselected at half opacity */
  --box-selected-unset: rgba(255, 255, 255, 0.5); /* --box-bg--default at half opacity */

  --box-hovered--primary: rgba(0, 0, 0, 0.3);
  --box-hovered--secondary: rgba(0, 0, 0, 0.1);
}

body.theme-light {
  --page-bg: #FFF;
  --page-text: #000;
  --winner-text: #00B300;

  --input-bg: #FFF;
  --input-bg--finished: #DDD;
  --input-bg--finished--truly: #54D854;
  --input-bg--hovered: #BBB;
  --input-text: #000;
  --input-text--finished: #555;
  --input-divider: var(--box-border-line);

  --box-border: #D0D0D0;
  --box-border-line: #000;

  --box-bg--default: #FFF;
  --box-bg--selected: #B1FA9F;
  --box-bg--deselected: #999;

  --box-selected-select: rgba(177, 250, 159, 0.5); /* --box-bg--selected at half opacity */
  --box-selected-deselect: rgba(153, 153, 153, 0.5); /* --box-bg--deselected at half opacity */
  --box-selected-unset: rgba(255, 255, 255, 0.5); /* --box-bg--default at half opacity */

  --box-hovered--primary: rgba(0, 0, 0, 0.3);
  --box-hovered--secondary: rgba(0, 0, 0, 0.1);
}

/* Rules */
.hidden {
  display: none !important;
}

body {
  background-color: var(--page-bg);
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#field-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#field {
  width: fit-content;
  margin: auto auto;
  position: relative;
}

#field > #left-of-field {
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  display: flex;
}

#field > #right-of-field {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  display: flex;
}

#col-handling {
  display: flex;
  flex-direction: row;
}

#field > #above-field {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
}

#field > #below-field {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btn.width-btn {
  width: 100%;
}

.btn.height-btn {
  height: 100%;
}

#box-container {
  display: grid;
}

.box {
  position: relative;
  width: var(--box-size);
  height: var(--box-size);
  background-color: var(--box-bg--default);
  border: var(--box-border-size) solid var(--box-border);
}
.box.ticked {
  background-color: var(--box-bg--selected);
}
.box.unticked {
  background-color: var(--box-bg--deselected);
}
.box.row-line {
  border-bottom-color: var(--box-border-line);
}
.box.row-line2 {
  border-top-color: var(--box-border-line);
}
.box.col-line {
  border-right-color: var(--box-border-line);
}
.box.col-line2 {
  border-left-color: var(--box-border-line);
}

.box > .box-text {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 100%;
  height: 100%;
}

.box.selected-select:before,
.box.selected-deselect:before,
.box.selected-unset:before,
.box.hovered-primary:before,
.box.hovered-secondary:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.box.selected-select:before {
  background-color: var(--box-selected-select) !important;
}
.box.selected-deselect:before {
  background-color: var(--box-selected-deselect) !important;
}
.box.selected-unset:before {
  background-color: var(--box-selected-unset) !important;
}
.box.hovered-primary:before {
  background-color: var(--box-hovered--primary);
}
.box.hovered-secondary:before {
  background-color: var(--box-hovered--secondary);
}

#col-controls {
  display: flex;
  align-items: end;
}

#row-controls {
  display: flex;
  align-items: end;
  flex-direction: column;
}

.controls-container {
  display: flex;
  width: 100%;
  position: relative;
  border: var(--input-divider-size) solid rgba(0, 0, 0, 0);
}
#row-controls .controls-container {
  flex-direction: row;
}
#col-controls > .controls-container {
  flex-direction: column;
}
.controls-container.row-line {
  border-bottom-color: var(--input-divider);
}
.controls-container.row-line2 {
  border-top-color: var(--input-divider);
}
.controls-container.col-line {
  border-right-color: var(--input-divider);
}
.controls-container.col-line2 {
  border-left-color: var(--input-divider);
}

.controls-container > .control {
  width: var(--input-size);
  height: var(--input-size);
  border-width: var(--input-border-size);
  padding: var(--input-padding-size);
  text-align: center;
  color: var(--input-text);
  background-color: var(--input-bg);
}
#row-controls .controls-container {
  padding: var(--input-offset) 0;
}
#col-controls > .controls-container {
  padding: 0 var(--input-offset);
}
.controls-container > .control.finished {
  color: var(--input-text--finished);
  background-color: var(--input-bg--finished);
  text-decoration: line-through;
}
.controls-container > .control:disabled {
  user-select: none;
  pointer-events: none;
}

.controls-container.hovered-secondary > .control-btns > button {
  background-color: var(--input-bg--hovered);
}
.controls-container.hovered-secondary > .control {
  background-color: var(--input-bg--hovered);
}
.controls-container.finished > .control {
  background-color: var(--input-bg--finished--truly);
}

.controls-container > .control-btns {
  display: flex;
}
#row-controls .controls-container > .control-btns {
  margin-top: var(--input-btn-offset);
  flex-direction: row;
}
#col-controls > .controls-container > .control-btns {
  margin-left: var(--input-btn-offset);
  flex-direction: column;
}
.controls-container > .control-btns > button {
  width: var(--input-size);
  height: var(--input-size);
}

#sidebar {
  border: 1px solid var(--box-border);
  padding: 3px;
  margin-left: 15px;
}
#sidebar > button {
  width: 100%;
}

#field.generated .controls-container > .control-btns {
  display: none;
}

#grid-size-display {
  color: var(--page-text);
  text-align: center;
}
#grid-size-display input {
  width: 3ch;
  text-align: center;
  margin: 0 2px;
  background-color: var(--input-bg);
  color: var(--input-text);
}
#grid-size-display input:disabled {
  user-select: none;
  pointer-events: none;
}

#difficulty-display {
  color: var(--page-text);
  text-align: center;
}
#difficulty-display > #difficulty-display-text {
  white-space: nowrap;
  user-select: none;
}
#difficulty-display > #difficulty-display-text > input {
  width: 3ch;
  text-align: center;
}

#winner-display {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  color: var(--winner-text);
  background-color: rgba(0, 0, 0, 0.7);
  user-select: none;
  z-index: 9999;
}