body {
  background-color: #000;
}

.center {
  text-align: center;
}

#output {
  color: #FFF;
  margin: 5px;
}

#player {
  min-height: 420px;
  min-width: 640px;
}

.video-container {
  margin: 10px;
}

#videos {
  margin-left: 44.5vw;
}

.video {
  margin-left: 5px;
  margin-right: 5px;
}

#save-link-location {
  margin-top: 5px;
}

.hidden {
  display: none;
}

.slightly-hidden {
  color: #555;
}

.slightly-more-hidden {
  color: #333;
}

.video-title {
  display: inline;
  margin-left: 15px;
  background-color: #000;
  border-color: #111;
  color: #FFF;
}

.video-title.video-unavailable {
  color: #F00;
}

#currentIndex {
  margin-top: 10px;
}

.top-row-items {
  display: inline-block;
  margin-left: 15px;
  margin-top: 10px;
}

#error {
  color: #702323;
}

.video-index {
  display: inline;
  margin-left: 15px;
}

/* https://freefrontend.com/css-glow-text-effects/ */
.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}