/* START: GENERICS */
.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.center {
  text-align: center;
}

.text-faded {
  color: #555;
}

.mt-15 {
  margin-top: 15px;
}
/* END: GENERICS */

/* START: SPECIFICS */
body {
  background-color: #000;
  margin: 0;
}

hr {
  width: 90vw;
  color: #555;
}

.controls {
  color: #FFF;
}

.controls > * {
  margin-right: 10px;
}

#player {
  min-height: 420px;
  min-width: 640px;
}

#video-and-controls-container {
  position: sticky;
  top: 0;
  background-color: #000;
}
#video-and-controls-container > div {
  padding-top: 8px;
  padding-bottom: 1px;
}

.entry-container {
  margin: 10px;
  display: table;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.entry-container-left, .entry-container-center, .entry-container-right {
  display: table-cell;
}

.entry-container-left {
  text-align: right;
}

.entry-container-right {
  text-align: left;
}

.entry-container-center {
  width: 150px;
}

.entry-id {
  margin-left: 5px;
  margin-right: 5px;
  width: 90%;
}

.entry-index-container {
  display: inline;
  margin-left: 15px;
}

.entry-title {
  display: inline;
  margin-left: 15px;
  background-color: #000;
  border-color: #111;
  color: #FFF;
}

.entry-container.unavailable .entry-title {
  color: #F00;
}

.entry-container.current .entry-title {
  /* https://freefrontend.com/css-glow-text-effects/ */
  text-shadow:
    0 0 5px #FFF,
    0 0 10px #FFF,
    0 0 20px #FFF,
    0 0 40px #0FF,
    0 0 80px #0FF,
    0 0 90px #0FF,
    0 0 100px #0FF,
    0 0 150px #0FF;
}

.entry-container.current.unavailable .entry-title {
  /* https://freefrontend.com/css-glow-text-effects/ */
  text-shadow:
    0 0 5px #F00,
    0 0 10px #F00,
    0 0 20px #F00,
    0 0 40px #FF0,
    0 0 80px #FF0,
    0 0 90px #FF0,
    0 0 100px #FF0,
    0 0 150px #FF0;
}
/* END: SPECIFICS */