body {
  background-color: #000;
}

.center {
  text-align: center;
}

#output {
  color: #FFF;
  margin: 5px;
}

#player {
  min-height: 420px;
  min-width: 640px;
}

.videoContainer {
  margin: 10px;
}

.video {
  margin-left: 5px;
  margin-right: 5px;
}

#version {
  color: #222;
}

.slightly-hidden {
  color: #555;
}

#currentIndex {
  display: inline-block;
  margin-right: 25px;
  margin-top: 10px;
}

#selection {
  display: inline-block;
  margin-left: 25px;
  margin-top: 10px;
}